/*スマホの設定*/
@media(max-width: 670px){
  .top {
    background-image: url(top2_msc.JPG);
    width: 100%;
  }
  .title {
    float: left;
    left: 30px;
    top: 100px;
  }
  .title1{
    font-size: 40px;
  }
  .title2{
    font-size: 30px;
  }
  .latest {
    width: 100%;
  }
  .heading {
    width: 100%;
  }
  .plive-icon {
    width: 100%;
  }
  .end {
    display: inline-block;
  }
  footer {
    text-align: center;
  }
  .logounder {
    font-size: 8px;
    padding-top: 0;
    padding-bottom: 5px;
  }
  .logo2{s
  }
  .head-right{
    display: none;
  }
  .fas.menu{
    display: block;
  }
}
